@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

body {
    font-family: roboto, sans-serif;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    min-height: 100vh;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    flex-wrap: wrap;
    margin: 0;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px #1F2937 solid;
}

button:hover {
    background-color: #3881f6c5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 100px;
    padding-bottom: 60px;
    padding-right: 100px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

li {
    padding: 0 10px;
}

a {
    text-decoration: none;
}

.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    align-items: flex-start;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.transformations {
    width: 85vw;
    display: flex;
    justify-content: space-between;
}

.thumbnail {
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 5px #3882F6 solid;
    transition: filter 0.3s ease;
}

.thumbnail:hover {
    filter: brightness(70%);
}

.transformation p {
    text-align: center;
}