@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

body {
    font-family: roboto;
}